.task-center{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -120px;
    width: 240px;
}
.task-center .task-info{
    font-size: 14px;
    margin-bottom: 30px;
    background: yellow;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 8px #888888;
}
.task-center .task-close{
    text-align: center;
}
.task-center .task-close span {
    display: inline-block;
    padding: 8px 40px;
    border-radius: 4px;
    background: green;
    color: white;
    box-shadow: 0px 0px 8px #888888;
}

.task-center .task-info .event-title .label{
    font-size: 16px;
    font-weight: bold;
}
.task-center .task-info .event-title .title{
    font-size: 16px;
    color: red;
}
.task-center .task-info >p{
    padding: 6px 0;
}
.task-center .task-info .event-note{
    font-size: 16px;
    padding: 5px;
}
.task-center .task-info .event-nav{
    font-size: 16px;
    color: red;
}
.task-center .task-info .event-nav .task-eclipse{
    font-size: 20px;
    display: inline-block;
    padding: 0px 5px;
    color: black;
    font-weight: bold;
}