header{
    background: white !important;
}
.rb-info{
}
.rb-info .rb-box{
    width: 100%;
    background: white ;
    display: inline-block;
    padding-bottom: 40px;
}
.rb-info .rb-card {
    width: 80%;
    height: 100px;
    margin: 10px auto 20px auto;
    text-align: center;
}

.rb-info .rb-card .rb-person{
    display: inline-block;
}
.rb-info .rb-card .rb-person >li{
    display: inline-block;
    vertical-align: middle;
}
.rb-info .rb-card .rb-person .rb-face{
    margin-right: 5px;
}
.rb-info .rb-card .rb-person .rb-face img{
    width: 25px;
    height: 25px;
    border-radius: 4px;
}
.rb-info .rb-card .rb-person .rb-nick {
    font-weight: bold;
    font-size: 20px;
}
.rb-info .rb-card .rb-amount{
    margin-top: 10px;
}
.rb-info .rb-card .rb-amount span{
    font-size: 60px;
    font-weight: bold;
    color: darkgoldenrod;
}
.rb-info .rb-card .rb-amount label{
    color: darkgoldenrod;
    font-size: 14px;
}
.rb-info .rb-card .rb-go-wallet{
    display: inline-block;
}
.rb-info .rb-card .rb-go-wallet li{
    display: inline-block;
    font-size: 14px;
    color: darkgoldenrod;
}
.rb-info .rb-card .rb-go-wallet li a{
    color: darkgoldenrod !important;
}
.rb-info .rb-card .rb-go-wallet .rb-nav-arrow{
    margin-left: 5px;
}
.rb-info .rb-attach{
    margin-top: 10px;
    min-height: 60px;
    background: white;
    text-align: center;
    padding: 10px 15px;
    display: block;
}
.rb-info .rb-attach .my-gallery figure{
    padding: 0;
    margin:0;
}
.rb-info .rb-attach .my-gallery figure img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    padding: 0;
    margin:0;
    border-radius: 4px;
}
.rb-info .rb-attach .rb-note{
    font-size: 14px;
    margin-top: 5px;
}
.rb-payee-box{
    margin-top: 10px;
    min-height: 60px;
    background: white;
}
.rb-payee-box .rb-payee-header{
    padding: 10px 15px 10px 15px;
    color: grey;
    font-size: 12px;
}
.rb-payee-box .rb-payee-deliver{
    height: 1px;
    background: #ececec;
}
.rb-payee-box .rb-payee-persons{
}
.rb-payee-box .rb-payee-person{
    position: relative;
    padding: 15px 80px;
}
.rb-payee-box .rb-payee-li-deliver{
    margin-left: 80px;
    height: 1px;
    background: #ececec;
}
.rb-payee-box .rb-payee-person img{
    display: inline-block;
    position: absolute;
    left: 15px;
    bottom: 0;
    top: 16px;
    width: 45px;
    border-radius: 4px;
}
.rb-payee-box .rb-payee-person .rb-payee-tip{
    position: absolute;
    right: 15px;
    bottom: 0;
    top: 16px;
    width: 80px;
    text-align: right;
    font-size: 16px;
}
.rb-payee-box .rb-payee-person .rb-payee-info{

}
.rb-payee-box .rb-payee-person .rb-payee-nick{
    font-size: 18px;
    margin-bottom: 5px;
}
.rb-payee-box .rb-payee-person .rb-payee-sub{
    margin-top: 5px;
    font-size: 16px;
    color: grey;
}
.my-gallery video{
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
    background: black;
}